* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto; }
  @media screen and (max-width: 1650px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 1450px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 1080px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 10px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 8px; } }
  @media screen and (max-width: 667px) {
    html {
      font-size: 7px; } }

body {
  font-family: 'Raleway';
  background-color: #DCE5FC; }

a {
  cursor: pointer; }

#login-section {
  margin: auto;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #login-section #logo {
    width: 10rem;
    height: 10rem;
    margin-top: 10vh;
    text-align: center; }
    #login-section #logo img {
      width: 100%;
      height: 100%; }
  #login-section #login-form {
    background-color: #0989FB;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #041F57; }
    #login-section #login-form form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      #login-section #login-form form input {
        margin: 0.5rem 0rem;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        border-color: transparent;
        color: #041F57;
        box-shadow: 0.05rem 0.05rem 0.5rem #041F57; }
      #login-section #login-form form #submit-btn {
        background-color: #041F57;
        color: #DCE5FC;
        transform: background-color, 0.5s; }
        #login-section #login-form form #submit-btn:hover {
          cursor: pointer;
          background-color: #062c7c; }

#console-section {
  margin: auto;
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  #console-section input, #console-section textarea {
    height: 3.5rem;
    width: 12.5rem;
    margin: 0rem 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border-color: transparent;
    color: #041F57; }
  #console-section #get-ban-warn-form {
    display: flex;
    flex-direction: column; }
    #console-section #get-ban-warn-form form {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      margin: 1rem 0rem; }
      #console-section #get-ban-warn-form form #get-submit-btn {
        width: auto;
        height: auto;
        background-color: #63c437;
        font-size: 0.75rem;
        color: black;
        box-shadow: 0.05rem 0.05rem 0.5rem #041F57;
        transform: background-color, 0.5s; }
        #console-section #get-ban-warn-form form #get-submit-btn:hover {
          cursor: pointer;
          background-color: #4f9c2c; }
      #console-section #get-ban-warn-form form #ban-submit-btn {
        width: auto;
        height: auto;
        background-color: #ee352f;
        font-size: 0.75rem;
        color: white;
        box-shadow: 0.05rem 0.05rem 0.5rem #041F57;
        transform: background-color, 0.5s; }
        #console-section #get-ban-warn-form form #ban-submit-btn:hover {
          cursor: pointer;
          background-color: #d81812; }
      #console-section #get-ban-warn-form form #warn-submit-btn {
        width: auto;
        height: auto;
        background-color: #ffcc42;
        font-size: 0.75rem;
        color: black;
        box-shadow: 0.05rem 0.05rem 0.5rem #041F57;
        transform: background-color, 0.5s; }
        #console-section #get-ban-warn-form form #warn-submit-btn:hover {
          cursor: pointer;
          background-color: #ffbe0f; }
  #console-section #reset-form {
    display: flex;
    flex-direction: row; }
    #console-section #reset-form form {
      display: flex;
      align-items: flex-start;
      margin: 1rem 0rem; }
      #console-section #reset-form form input {
        width: auto;
        height: auto;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        color: white;
        box-shadow: 0.05rem 0.05rem 0.5rem #041F57;
        background-color: #ee352f;
        transform: background-color, 0.5s; }
        #console-section #reset-form form input:hover {
          cursor: pointer;
          background-color: #d81812; }

/*# sourceMappingURL=style.css.map */
