<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunkie Application Management</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Font Awsome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400" rel="stylesheet">

    <!-- Style and Scripts -->
    <link rel="shortcut icon" type="image/x-icon" href="{{logo}}" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../script/user.js"></script>
    <script src="../script/reset.js"></script>
</head>


<body>

</body>
    <section id="console-section">

        <!-- Forms -->
        <div id="get-ban-warn-form">
            <form name="get-user" action="/get_users" method="post">
                <input type="text" name="uname" placeholder="Username">
                <textarea id="user-id-field" name="userid" placeholder="User's ID">{{user_id}}</textarea>
                <input id="get-submit-btn" type="submit" value="Get">
            </form>

            <form name="ban" action="/ban_user" method="post">
                <input type="text" name="userid" placeholder="User ID">
                <input id="ban-submit-btn" type="submit" value="Ban">
            </form>

            <form name="warn" action="/warn_user" method="post">
                <input type="text" name="userid" placeholder="User ID">
                <textarea name="message" placeholder="Enter your warning message..."></textarea>
                <input id="warn-submit-btn" type="submit" value="Warn">
            </form>
        </div>

        <!-- Clear -->
        <div id="reset-form">
            <form name="reset" action="/reset" method="post">
                <input id="ban-submit-btn" type="submit" value="Reset">
            </form>
        </div>
    </section>
</html>