<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bunkie Application Management</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Font Awsome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400" rel="stylesheet">

    <!-- Style and Scripts -->
    <link rel="shortcut icon" type="image/x-icon" href="{{icon}}" />
    <link rel="stylesheet" href="static/css/style.css">
</head>


<body>

    <!-- Login Section -->
    <section id="login-section">

        <!-- Logo -->
        <div id="logo">
            <img src="{{logo}}" alt="bunkie Logo">
        </div>
        
        <!-- Form -->
        <div id="login-form">
            <form name="login" action="/login" method="post">
                <input type="text" name="admin-email" id="email" placeholder="email">
                <input type="password" name="admin-pw" id="password" placeholder="password">
                <input id="submit-btn" type="submit" value="Log In">
            </form>
        </div>

    </section>

</body>


</html>